body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'AR One Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Chakra+Petch:wght@300;400;500;600;700&family=Kanit:wght@500&display=swap');

/* font-family: 'AR One Sans', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Kanit', sans-serif; */